# Project1

## Step 1
Dependencies and Setup

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json

from scipy.stats import linregress

from api_keys import geoapify_key

In [2]:
# Load the CSV file
df=pd.read_csv("./Resources/Kaggle/Student Loan Debt by School 2020-2021.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42740 entries, 0 to 42739
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  42740 non-null  int64
 1   OPE ID                 42740 non-null  int64
 2   School                 42740 non-null  object
 3   City                   33650 non-null  object
 4   State                  40700 non-null  object
 5   Zip Code               33650 non-null  float64
 6   School Type            42740 non-null  object
 7   Loan Type              42740 non-null  object
 8   Recipients             42740 non-null  float64
 9   # of Loans Originated  42740 non-null  float64
 10  $ of Loans Originated  42740 non-null  float64
 11  # of Disbursements     42740 non-null  float64
 12  $ of Disbursements     42740 non-null  float64
dtypes: float64(6), int64(2), object(5)
memory usage: 4.2+ MB

In [3]:
# Change data type and rename columns
df['Zip Code'] = df['Zip Code'].fillna(-1).astype(int).astype(str).replace('-1', 'NaN')
df['Recipients'] = df['Recipients'].astype(int)
df['# of Loans Originated'] = df['# of Loans Originated'].astype(int)
df['# of Disbursements'] = df['# of Disbursements'].astype(int)
df=df[df['Loan Type']!='Total']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42740 entries, 0 to 42739
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  42740 non-null  int64
 1   OPE ID                 42740 non-null  int64
 2   School                 42740 non-null  object
 3   City                   33650 non-null  object
 4   State                  40700 non-null  object
 5   Zip Code               42740 non-null  object
 6   School Type            42740 non-null  object
 7   Loan Type              42740 non-null  object
 8   Recipients             42740 non-null  int32
 9   # of Loans Originated  42740 non-null  int32
 10  $ of Loans Originated  42740 non-null  float64
 11  # of Disbursements     42740 non-null  int32
 12  $ of Disbursements     42740 non-null  float64
dtypes: float64(2), int32(3), int64(2), object(6)
memory usage: 3.8+ MB

In [4]:
# df.head(10)
df.tail(10)

,index,OPE ID,School,City,State,Zip Code,School Type,Loan Type,Recipients,# of Loans Originated,$ of Loans Originated,# of Disbursements,$ of Disbursements
42730,42730,42919,FLORIDA PROFESSIONAL INSTITUTE,MIAMI,FL,33155,Proprietary,Total,20,20,66672.0,20,33336.0
42731,42731,34165,DALLAS NURSING INSTITUTE,NaN,TX,NaN,Private-Nonprofit,Total,20,20,54000.0,20,54000.0
42732,42732,21265,ENID BEAUTY COLLEGE,NaN,OK,NaN,Proprietary,Total,20,20,52000.0,20,26000.0
42733,42733,42907,PREMIERE AESTHETICS INSTITUTE,BEND,OR,97702,Proprietary,Total,100,100,304292.0,100,152124.0
42734,42734,41869,"INTERNATIONAL COLLEGE OF BEAUTY, ARTS & SCIENCES",LOS ANGELES,CA,90039,Proprietary,Total,12,12,15996.0,12,7992.0
42735,42735,42377,REGIONAL CENTER FOR BORDER HEALTH,SOMERTON,AZ,85350,Private-Nonprofit,Total,40,40,68672.0,80,68672.0
42736,42736,40293,TRENDSETTERS OF FL. SCHOOL OF BEAUTY & BARBERING,JACKSONVILLE,FL,32205,Proprietary,Total,40,40,51012.0,80,51012.0
42737,42737,4666,AMERICAN COLLEGE FOR MEDICAL CAREERS,ORLANDO,FL,32809,Proprietary,Total,20,20,9000.0,20,4504.0
42738,42738,42932,PROFESSIONAL COSMETOLOGY ACADEMY (THE),LAREDO,TX,78041,Proprietary,Total,8,8,23336.0,8,11664.0
42739,42739,42185,INNOVATE SALON ACADEMY,SOUTH PLAINFIELD,NJ,7080,Proprietary,Total,40,40,40008.0,80,40008.0

In [5]:
df.describe()

,index,OPE ID,Recipients,# of Loans Originated,$ of Loans Originated,# of Disbursements,$ of Disbursements
count,42740.000000,42740.000000,42740.000000,42740.000000,4.274000e+04,42740.000000,4.274000e+04
mean,21369.500000,16201.447824,3798.421385,3909.581844,3.379861e+07,3974.820660,1.694132e+07
std,12338.119589,15479.494190,16547.929427,17095.803201,1.666734e+08,17393.746307,8.551740e+07
min,0.000000,1002.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
25%,10684.750000,2848.000000,6.000000,7.000000,3.383300e+04,7.000000,1.700000e+04
50%,21369.500000,8447.500000,130.000000,132.000000,8.019415e+05,137.000000,3.912990e+05
75%,32054.250000,30837.000000,1287.000000,1318.250000,8.253579e+06,1350.000000,4.020021e+06
max,42739.000000,42933.000000,776959.000000,798927.000000,7.191430e+09,798927.000000,3.629214e+09

## Step 2
### Ask the questions

State, What is the breakdown of number of collages in each state? P

State, What is the breakdown of recipients of Student Loans by State (by quantity and by $)?P

State, What states have the most (public schools? Private schools?) recipients?P

State, What are the top 10 states with the most student loans?L

Geographic, How does the average student loan vary by zip code?M

Geographic, Are there trends based on geographic region or type of school?T

In [6]:
# get US, none zero data
drop_df= df[(df['Zip Code']!='NaN')&(df['Zip Code']!='0')&(df['Recipients']!=0)]

# drop_df.to_csv('./Output/test.csv')
drop_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28261 entries, 0 to 42739
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  28261 non-null  int64
 1   OPE ID                 28261 non-null  int64
 2   School                 28261 non-null  object
 3   City                   28261 non-null  object
 4   State                  28261 non-null  object
 5   Zip Code               28261 non-null  object
 6   School Type            28261 non-null  object
 7   Loan Type              28261 non-null  object
 8   Recipients             28261 non-null  int32
 9   # of Loans Originated  28261 non-null  int32
 10  $ of Loans Originated  28261 non-null  float64
 11  # of Disbursements     28261 non-null  int32
 12  $ of Disbursements     28261 non-null  float64
dtypes: float64(2), int32(3), int64(2), object(6)
memory usage: 2.7+ MB

In [7]:
zip_df=pd.read_csv("./Resources/Zipcode/uszips.csv")
# zip_df.info()
zip_df['Full Zip Code']= zip_df['Zip Code'].astype(str).str.zfill(5)
zip_df['Zip Code']=zip_df['Zip Code'].astype(str)
zip_df.tail(10)
# zip_df['Zip Code']=zip_df['Zip Code'].astype(str)
# drop_LL_df=pd.merge(drop_df,zip_df,how="left",on='Zip Code')
# drop_LL_df

      Zip Code  Lat  Lng           City State Full Zip Code
33899    37933  NaN  NaN      KNOXVILLE    TN         37933
33900    27108  NaN  NaN  WINSTON-SALEM    NC         27108
33901    80160  NaN  NaN      LITTLETON    CO         80160
33902    78806  NaN  NaN    BATON ROUGE    LA         78806
33903     1086  NaN  NaN      WESTFIELD    MA         01086
33904    28035  NaN  NaN       DAVIDSON    NC         28035
33905    29721  NaN  NaN      LANCASTER    SC         29721
33906    29802  NaN  NaN          AIKEN    SC         29802
33907      681  NaN  NaN       MAYAGUEZ    PR         00681
33908      614  NaN  NaN        ARECIBO    PR         00614

In [8]:
# create lat and lng on the dataframe
# drop_LL_df['Full Zip Code']= drop_LL_df['Zip Code'].str.zfill(5)

# drop_LL_df.to_csv('./Output/withoutLL.csv')
# drop_LL_df.info()

In [12]:
# it takes too long to run all

base_url='https://api.geoapify.com/v1/geocode/search?'
params = {
    
    "apiKey": geoapify_key,
    "type":"postcode",
    'format':'json',
    'country':'USA'
}


for index, row in zip_df.iterrows():

    params["text"] = row['Full Zip Code']
    params["city"] = row['City']
    params["state"] = row['State']
    if pd.isnull(row['Lat']):

        LL = requests.get(base_url, params=params)

    # Convert the API response to JSON format
        LL = LL.json()
            
        try:
            print(row['Full Zip Code'])         
            print(LL["results"][0]["lat"])
            print(LL["results"][0]["lon"])
            zip_df.loc[index, "Lat"] = LL["results"][0]["lat"]
            zip_df.loc[index, "Lng"] = LL["results"][0]["lon"]
        except (KeyError, IndexError):
            params.pop("text")
            params.pop("type")
            LL = requests.get(base_url, params=params)
            # print(params)
            LL = LL.json()
            # print(json.dumps(LL,indent=4))
            zip_df.loc[index, "Lat"] = LL["results"][0]["lat"]
            zip_df.loc[index, "Lng"] = LL["results"][0]["lon"]
zip_df.to_csv('./Output/zipwithLL.csv',index=False)

35294
33.50208462
-86.80429502
35762
{'apiKey': '8a0afac814b24ccbb3c98c22623479d2', 'format': 'json', 'country': 'USA', 'city': 'NORMAL', 'state': 'AL'}
{
    "results": [
        {
            "datasource": {
                "sourcename": "openstreetmap",
                "attribution": "\u00a9 OpenStreetMap contributors",
                "license": "Open Database License",
                "url": "https://www.openstreetmap.org/copyright"
            },
            "name": "Normal",
            "country": "United States",
            "country_code": "us",
            "state": "Alabama",
            "county": "Madison County",
            "city": "Huntsville",
            "hamlet": "Normal",
            "postcode": "35810",
            "lon": -86.5719369,
            "lat": 34.7889792,
            "state_code": "AL",
            "formatted": "Normal, Huntsville, AL 35810, United States of America",
            "address_line1": "Normal",
            "address_line2": "Huntsville, AL 35810, United States of America",
            "category": "populated_place",
            "timezone": {
                "name": "America/Chicago",
                "offset_STD": "-06:00",
                "offset_STD_seconds": -21600,
                "offset_DST": "-05:00",
                "offset_DST_seconds": -18000,
                "abbreviation_STD": "CST",
                "abbreviation_DST": "CDT"
            },
            "plus_code": "866MQCQH+H6",
            "plus_code_short": "QCQH+H6, 35810 Huntsville, United States",
            "result_type": "postcode",
            "rank": {
                "importance": 0.4862449547378125,
                "popularity": 3.131614586853301,
                "confidence": 1,
                "confidence_city_level": 1,
                "match_type": "full_match"
            },
            "place_id": "510a383a9d9aa455c059b49c3a45fd644140f00103f9011a99280900000000c002079203064e6f726d616c",
            "bbox": {
                "lon1": -86.5919369,
                "lat1": 34.7689792,
                "lon2": -86.5519369,
                "lat2": 34.8089792
            }
        }
    ],
    "query": {
        "text": "",
        "city": "NORMAL",
        "state": "AL",
        "parsed": {
            "city": "NORMAL",
            "state": "AL",
            "country": "USA",
            "expected_type": "city"
        }
    }
}
35899
34.729847
-86.5859011
36124
32.376865
-86.1720349
35609
34.575717
-86.990658
35403
33.2095614
-87.5675258
99514
61.21806
-149.90028
85287
33.4255117
-111.9400164
72149
35.2506406
-91.7362488
71754
33.2670725
-93.2393341
71656
33.6293427
-91.7912327
95192
37.3361663
-121.890591
94143
37.7790262
-122.419906
95343
37.3029568
-120.4843269
91510
34.185797
-118.322584
80208
39.7392364
-104.984862
80309
40.0149856
-105.270545
80523
40.5508527
-105.0668085
80639
40.4233142
-104.7091322
81102
37.469877
-105.8696
81231
38.550024
-106.919672
80217
39.7392364
-104.984862
06520
41.3082138
-72.9250518
06050
41.6612104
-72.7795419
06723
41.556522
-73.037165
06601
41.1670412
-73.2048348
06430
41.1412078
-73.2637258
32611
29.6519684
-82.3249846
33199
25.766368
-80.210268
32802
28.5421109
-81.3790304
32085
29.8946952
-81.3145395
30162
34.257038
-85.1646726
61790
40.5092961
-88.9843937
62794
39.7990175
-89.6439575
61635
40.666149
-89.5800978
47722
37.970495
-87.5715641
50011
42.0267567
-93.6170448
50614
42.5361805
-92.447758
52406
41.9758872
-91.6704053
51502
41.258841
-95.8519484
52004
42.5006243
-90.6647985
40506
38.0464066
-84.4970393
40292
38.2542376
-85.759407
41099
39.0330902
-84.4521512
42002
37.0833893
-88.6000478
71130
32.467848
-93.764207
04420
44.3898193
-68.80326415
87131
35.0841034
-106.650985
02193
42.3667625
-71.3031132
01615
42.2625621
-71.8018877
48106
42.2681569
-83.7312291
48007
42.60559
-83.14993
48061
42.9760854
-82.4333742
56002
44.1634663
-93.9993505
65211
38.951883
-92.3337366
68198
41.2587459
-95.9383758
89154
36.1672559
-115.148516
28608
36.2165362
-81.6746158
27102
36.0998131
-80.2440518
28603
35.7333312
-81.3442915
28815
35.595076
-82.5528478
58802
48.1465457
-103.621814
45221
39.1014537
-84.5124602
44242
41.1536674
-81.357886
97207
45.5202471
-122.674194
97309
44.9391565
-123.033121
16541
42.1294712
-80.0852695
17405
39.959115
-76.724101
18766
41.2464824
-75.8817316
18711
41.2464824
-75.8817316
19612
40.335345
-75.9279495
17604
40.03813
-76.3056686
29688
35.0684492
-82.3684509
29202
34.0007493
-81.0343313
29648
34.1954001
-82.1617883
29423
32.97876
-80.071205
37996
35.9603948
-83.9210261
37240
36.1622767
-86.7742984
38163
35.1460249
-90.0517638
37044
36.5277607
-87.3588703
38238
36.3432777
-88.8503514
37320
35.1595182
-84.8766115
37371
35.4428864
-84.5930113
37998
35.9603948
-83.9210261
78713
30.222346
-97.836521
79409
33.5855677
-101.8470215
77710
30.0860459
-94.1018461
75275
32.7762719
-96.7968559
79968
31.7550511
-106.4882345
76204
33.2150386
-97.1330516
75799
32.3512601
-95.3010624
77251
29.7589382
-95.3676974
79698
32.44645
-99.7475905
75607
32.527019
-94.768377
76540
31.1171441
-97.727796
79697
32.44645
-99.7475905
23529
36.8448348
-76.2863999
23501
36.8448348
-76.2863999
23187
37.2708788
-76.7074042
23806
37.1924594
-77.3677408
98083
47.689438
-122.190129
99164
46.730917
-117.152568
98907
46.593247
-120.547823
53201
43.0349931
-87.922497
54702
44.811349
-91.4984941
53141
42.5846773
-87.8212263
53234
43.0349931
-87.922497
82071
41.311367
-105.591101
00914
18.465299
-66.116666
00605
18.443885775
-67.1335241625
00919
18.465299
-66.116666
37933
35.9603948
-83.9210261
27108
36.0998131
-80.2440518
80160
39.613321
-105.016649
78806
30.4494155
-91.1869659
01086
42.130446
-72.793967
28035
35.4992614
-80.8485218
29721
34.7204257
-80.7709015
29802
33.5598586
-81.721952
00681
18.2011161
-67.1391124
00614
18.471975
-66.7161704

In [ ]:
# # drop_LL_df.info()
# drop_NoneLL_df=drop_LL_df[pd.isnull(drop_LL_df['Lat'])]
# drop_NoneLL_df

Loan Type, What is the breakdown of type of student loan  (subsidized, unsubsidized, grad plus, parent plus, etc.)?M

School Type, What is the breakdown of student loan quantity/$ by school type (for profit, non-profit, public, etc.)?L

<!-- VS, What is the breakdown in disbursements versus loan origination $ amounts? -->

<!-- VS, Which schools have the highest disparity between loans originated and loans disbursed? -->

API, Foreign university, VS US

More datasets