# Project1

## Step 1
Dependencies and Setup

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json

from scipy.stats import linregress

from api_keys import geoapify_key

In [2]:
# Load the CSV file
df=pd.read_csv("./Resources/Kaggle/Student Loan Debt by School 2020-2021.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42740 entries, 0 to 42739
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  42740 non-null  int64
 1   OPE ID                 42740 non-null  int64
 2   School                 42740 non-null  object
 3   City                   33650 non-null  object
 4   State                  40700 non-null  object
 5   Zip Code               33650 non-null  float64
 6   School Type            42740 non-null  object
 7   Loan Type              42740 non-null  object
 8   Recipients             42740 non-null  float64
 9   # of Loans Originated  42740 non-null  float64
 10  $ of Loans Originated  42740 non-null  float64
 11  # of Disbursements     42740 non-null  float64
 12  $ of Disbursements     42740 non-null  float64
dtypes: float64(6), int64(2), object(5)
memory usage: 4.2+ MB

In [3]:
# Change data type and rename columns
df['Zip Code'] = df['Zip Code'].fillna(-1).astype(int).astype(str).replace('-1', 'NaN')
df['Recipients'] = df['Recipients'].astype(int)
df['# of Loans Originated'] = df['# of Loans Originated'].astype(int)
df['# of Disbursements'] = df['# of Disbursements'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42740 entries, 0 to 42739
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  42740 non-null  int64
 1   OPE ID                 42740 non-null  int64
 2   School                 42740 non-null  object
 3   City                   33650 non-null  object
 4   State                  40700 non-null  object
 5   Zip Code               42740 non-null  object
 6   School Type            42740 non-null  object
 7   Loan Type              42740 non-null  object
 8   Recipients             42740 non-null  int32
 9   # of Loans Originated  42740 non-null  int32
 10  $ of Loans Originated  42740 non-null  float64
 11  # of Disbursements     42740 non-null  int32
 12  $ of Disbursements     42740 non-null  float64
dtypes: float64(2), int32(3), int64(2), object(6)
memory usage: 3.8+ MB

In [4]:
# df.head(10)
df.tail(10)

,index,OPE ID,School,City,State,Zip Code,School Type,Loan Type,Recipients,# of Loans Originated,$ of Loans Originated,# of Disbursements,$ of Disbursements
42730,42730,42919,FLORIDA PROFESSIONAL INSTITUTE,MIAMI,FL,33155,Proprietary,Total,20,20,66672.0,20,33336.0
42731,42731,34165,DALLAS NURSING INSTITUTE,NaN,TX,NaN,Private-Nonprofit,Total,20,20,54000.0,20,54000.0
42732,42732,21265,ENID BEAUTY COLLEGE,NaN,OK,NaN,Proprietary,Total,20,20,52000.0,20,26000.0
42733,42733,42907,PREMIERE AESTHETICS INSTITUTE,BEND,OR,97702,Proprietary,Total,100,100,304292.0,100,152124.0
42734,42734,41869,"INTERNATIONAL COLLEGE OF BEAUTY, ARTS & SCIENCES",LOS ANGELES,CA,90039,Proprietary,Total,12,12,15996.0,12,7992.0
42735,42735,42377,REGIONAL CENTER FOR BORDER HEALTH,SOMERTON,AZ,85350,Private-Nonprofit,Total,40,40,68672.0,80,68672.0
42736,42736,40293,TRENDSETTERS OF FL. SCHOOL OF BEAUTY & BARBERING,JACKSONVILLE,FL,32205,Proprietary,Total,40,40,51012.0,80,51012.0
42737,42737,4666,AMERICAN COLLEGE FOR MEDICAL CAREERS,ORLANDO,FL,32809,Proprietary,Total,20,20,9000.0,20,4504.0
42738,42738,42932,PROFESSIONAL COSMETOLOGY ACADEMY (THE),LAREDO,TX,78041,Proprietary,Total,8,8,23336.0,8,11664.0
42739,42739,42185,INNOVATE SALON ACADEMY,SOUTH PLAINFIELD,NJ,7080,Proprietary,Total,40,40,40008.0,80,40008.0

In [5]:
df.describe()

,index,OPE ID,Recipients,# of Loans Originated,$ of Loans Originated,# of Disbursements,$ of Disbursements
count,42740.000000,42740.000000,42740.000000,42740.000000,4.274000e+04,42740.000000,4.274000e+04
mean,21369.500000,16201.447824,3798.421385,3909.581844,3.379861e+07,3974.820660,1.694132e+07
std,12338.119589,15479.494190,16547.929427,17095.803201,1.666734e+08,17393.746307,8.551740e+07
min,0.000000,1002.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
25%,10684.750000,2848.000000,6.000000,7.000000,3.383300e+04,7.000000,1.700000e+04
50%,21369.500000,8447.500000,130.000000,132.000000,8.019415e+05,137.000000,3.912990e+05
75%,32054.250000,30837.000000,1287.000000,1318.250000,8.253579e+06,1350.000000,4.020021e+06
max,42739.000000,42933.000000,776959.000000,798927.000000,7.191430e+09,798927.000000,3.629214e+09

## Step 2
### Ask the questions

State, What is the breakdown of number of collages in each state? P

State, What is the breakdown of recipients of Student Loans by State (by quantity and by $)?P

State, What states have the most (public schools? Private schools?) recipients?P

State, What are the top 10 states with the most student loans?L

Geographic, How does the average student loan vary by zip code?M

Geographic, Are there trends based on geographic region or type of school?T

In [6]:
# get US, none zero data
drop_df= df[(df['Zip Code']!='NaN')&(df['Zip Code']!='0')&(df['Recipients']!=0)]

# drop_df.to_csv('./Output/test.csv')
drop_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28261 entries, 0 to 42739
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  28261 non-null  int64
 1   OPE ID                 28261 non-null  int64
 2   School                 28261 non-null  object
 3   City                   28261 non-null  object
 4   State                  28261 non-null  object
 5   Zip Code               28261 non-null  object
 6   School Type            28261 non-null  object
 7   Loan Type              28261 non-null  object
 8   Recipients             28261 non-null  int32
 9   # of Loans Originated  28261 non-null  int32
 10  $ of Loans Originated  28261 non-null  float64
 11  # of Disbursements     28261 non-null  int32
 12  $ of Disbursements     28261 non-null  float64
dtypes: float64(2), int32(3), int64(2), object(6)
memory usage: 2.7+ MB

In [7]:
zip_df=pd.read_csv("./Resources/Zipcode/uszips.csv")
# zip_df.info()
zip_df['Full Zip Code']= zip_df['Zip Code'].astype(str).str.zfill(5)
zip_df.tail(10)
# zip_df['Zip Code']=zip_df['Zip Code'].astype(str)
# drop_LL_df=pd.merge(drop_df,zip_df,how="left",on='Zip Code')
# drop_LL_df

       Zip Code  Lat  Lng Full Zip Code
33944     49003  NaN  NaN         49003
33945     45551  NaN  NaN         45551
33946     85261  NaN  NaN         85261
33947     63306  NaN  NaN         63306
33948       174  NaN  NaN         00174
33949     52511  NaN  NaN         52511
33950     85366  NaN  NaN         85366
33951     37116  NaN  NaN         37116
33952     59717  NaN  NaN         59717
33953     74244  NaN  NaN         74244

In [8]:
# create lat and lng on the dataframe
# drop_LL_df['Full Zip Code']= drop_LL_df['Zip Code'].str.zfill(5)

# drop_LL_df.to_csv('./Output/withoutLL.csv')
# drop_LL_df.info()

In [9]:
# it takes too long

base_url='https://api.geoapify.com/v1/geocode/search?'
params = {
    
    "apiKey": geoapify_key,
    "type":"postcode",
    'format':'json',
    'filter':'countrycode:us,ca'
}

for index, row in zip_df.iterrows():

    params["text"] = row['Full Zip Code']

    if pd.isnull(row['Lat']):

        LL = requests.get(base_url, params=params)

    # Convert the API response to JSON format
        LL = LL.json()
    
        if index==1:
            print(json.dumps(LL,indent=4))
        try:
            print(row['Full Zip Code'])
            print(LL["results"][0]["lat"])
            print(LL["results"][0]["lon"])
            zip_df.loc[index, "Lat"] = LL["results"][0]["lat"]
            zip_df.loc[index, "Lng"] = LL["results"][0]["lon"]
        except (KeyError, IndexError):
        
            zip_df.loc[index, "Lat"] = ''
            zip_df.loc[index, "Lng"] = ''
zip_df.to_csv('./Output/zipwithLL.csv')

35294
33.50208462
-86.80429502
35762
35899
34.7249108
-86.6404909
36124
32.376865
-86.1720349
35609
35403
33.1673913
-87.5546035
99514
85287
33.4224875
-111.93319855
72149
35.2465042
-91.7253033
71754
33.261920157
-93.227029471
71656
33.5910957
-91.813871633
95192
37.3350355
-121.881463567
94143
37.765001675
-122.433637288
95343
37.363679
-120.4251632
91510
80208
39.677457767
-104.961965611
80309
40.008630925
-105.26746425
80523
40.5604906
-105.06721545
80639
40.40268598
-104.70024383
81102
81231
37.9496102
-107.7526422
80217
39.7457268
-105.0022957
06520
41.30693036
-72.93242144
06050
41.689902832
-72.765492547
06723
06601
41.162033
-73.195328
06430
41.1653991
-73.2406959
32611
29.642983522
-82.354940036
33199
25.755298975
-80.373903525
32802
34.6958825
-86.5691543
32085
29.9212391
-81.4161133
30162
34.2911055
-85.2141259
61790
40.5103879
-88.9905186
62794
39.8344949
-89.6425469
61635
40.7304384
-89.5680195
47722
37.970022
-87.531405
50011
42.02627139
-93.645071488
50614
42.5149569
-92.4629522
52406
51502
41.2668
-95.8531409
52004
40506
38.033356131
-84.503768112
40292
38.21573194
-85.7612367
41099
39.0355429
-84.465573
42002
37.0650418
-88.6376601
71130
04420
44.3898193
-68.80326415
87131
35.086322217
-106.61968005
02193
01615
48106
42.274044767
-83.742795267
48007
48061
43.01248575
-82.448075975
56002
65211
38.9385043
-92.32904859
68198
41.255750953
-95.976202394
89154
36.10363715
-115.14304075
28608
36.209065859
-81.687243984
27102
36.040164
-80.401338
28603
35.71049465
-81.299250175
28815
35.5927096
-82.4817024
58802
48.1630614
-103.6544294
45221
39.132848525
-84.512666325
44242
41.1531066
-81.34245615
97207
45.5307588
-122.8479573
97309
44.978236694
-122.97779362
16541
42.127621975
-80.088371262
17405
39.9673609
-76.692573
18766
41.2425162
-75.8871585
18711
41.2539894
-75.8375375
19612
17604
40.0478176
-76.326331633
29688
35.071854
-82.372137
29202
33.9911766
-81.0309366
29648
34.180021
-82.178393
29423
32.977043
-80.069062
37996
35.951998021
-83.93268595
37240
36.150683486
-86.796057393
38163
35.139469167
-90.030992433
37044
36.532975775
-87.356599275
38238
36.342875469
-88.864369346
37320
37371
35.4456123
-84.5956135
37998
35.93618744
-83.75033218
78713
30.468926
-97.843697
79409
33.583993835
-101.879458275
77710
30.0440591
-94.0707212
75275
32.8436464
-96.7843535
79968
31.767921433
-106.504091667
76204
33.226970544
-97.127426844
75799
32.316307
-95.25206535
77251
29.824485
-94.942376
79698
32.476145
-99.734212
75607
76540
31.1190456
-97.8049798
79697
32.4293346
-99.7487435
23529
36.885366679
-76.306860086
23501
36.919682
-76.305386
23187
37.238565525
-76.654171412
23806
37.235196167
-77.420556133
98083
99164
46.7294089
-117.15339615
98907
53201
43.0614192
-87.8957308
54702
44.792734717
-91.509765533
53141
42.65263855
-87.8406993
53234
42.983753
-87.9654822
82071
41.3130036
-105.57174555
00914
18.450318875
-66.057392175
00605
18.443885775
-67.133524162
00919
18.4208031
-66.057418133
37933
27108
80160
78806
01086
42.1327611
-72.7943407
28035
29721
34.697601
-80.778224
29802
00681
18.200550757
-67.131246157
00614
18.479022683
-66.7120938
54912
44.2777169
-88.4226178
27293
08754
39.9945419
-74.0611334
14702
42.0916532
-79.2315982
28232
19603
40.336217533
-75.926500333
42241
82902
41.638855
-108.971559
96049
40.627367
-122.3143174
54305
44.5027398
-88.0114646
21404
36331
31.299250867
-85.8429347
93403
35.329112142
-120.739962754
10602
74818
53547
42.68692555
-89.007340475
23670
77501
75599
33.4444165
-94.0774781
79998
31.7904752
-106.2646441
10281
40.712895308
-74.014459484
80632
40.4111506
-104.7614379
00902
18.457034
-66.075733
04243
44.428256
-70.20901
07061
92628
25322
38.217073
-81.4291233
02167
43216
39.9628571
-82.9989286
35011
33.685724
-87.062909
74802
35.379359067
-96.948931573
85228
32.99646375
-111.4953166
63702
94581
28335
35.2662089
-78.6722177
49003
45551
85261
63306
00174
52511
85366
32.968114
-114.462299
37116
36.3400047
-86.6162411
59717
45.663550067
-111.049460817
74244

Loan Type, What is the breakdown of type of student loan  (subsidized, unsubsidized, grad plus, parent plus, etc.)?M

School Type, What is the breakdown of student loan quantity/$ by school type (for profit, non-profit, public, etc.)?L

<!-- VS, What is the breakdown in disbursements versus loan origination $ amounts? -->

<!-- VS, Which schools have the highest disparity between loans originated and loans disbursed? -->

API, Foreign university, VS US

More datasets